# Game Support Matrix Configuration
# Defines per-sim capabilities and configuration paths

games:
  iracing:
    name: "iRacing"
    versions:
      - version: "2024.x"
        config_paths:
          - "Documents/iRacing/app.ini"
        executable_patterns:
          - "iRacingSim64DX11.exe"
          - "iRacingService.exe"
        telemetry_method: "shared_memory"
        supported_fields:
          - "ffb_scalar"
          - "rpm"
          - "speed_ms"
          - "slip_ratio"
          - "gear"
          - "car_id"
          - "track_id"
    telemetry:
      method: "shared_memory"
      update_rate_hz: 60
      fields:
        ffb_scalar: "SteeringWheelTorque"
        rpm: "RPM"
        speed_ms: "Speed"
        slip_ratio: "LFslipRatio"
        gear: "Gear"
        flags: "SessionFlags"
        car_id: "CarIdx"
        track_id: "TrackId"
    config_writer: "iracing"
    auto_detect:
      process_names:
        - "iRacingSim64DX11.exe"
        - "iRacingService.exe"
      install_registry_keys:
        - "HKEY_CURRENT_USER\\Software\\iRacing.com\\iRacing"
      install_paths:
        - "Program Files (x86)/iRacing"

  acc:
    name: "Assetto Corsa Competizione"
    versions:
      - version: "1.9.x"
        config_paths:
          - "Documents/Assetto Corsa Competizione/Config/broadcasting.json"
        executable_patterns:
          - "AC2-Win64-Shipping.exe"
        telemetry_method: "udp_broadcast"
        supported_fields:
          - "ffb_scalar"
          - "rpm"
          - "speed_ms"
          - "slip_ratio"
          - "gear"
          - "car_id"
          - "track_id"
    telemetry:
      method: "udp_broadcast"
      update_rate_hz: 100
      fields:
        ffb_scalar: "steerAngle"
        rpm: "rpms"
        speed_ms: "speedKmh"
        slip_ratio: "wheelSlip"
        gear: "gear"
        flags: "flag"
        car_id: "carModel"
        track_id: "track"
    config_writer: "acc"
    auto_detect:
      process_names:
        - "AC2-Win64-Shipping.exe"
      install_registry_keys:
        - "HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\Steam App 805550"
      install_paths:
        - "Program Files (x86)/Steam/steamapps/common/Assetto Corsa Competizione"

  ams2:
    name: "Automobilista 2"
    versions:
      - version: "1.5.x"
        config_paths:
          - "Documents/Automobilista 2/UserData/player/player.json"
        executable_patterns:
          - "AMS2AVX.exe"
        telemetry_method: "shared_memory"
        supported_fields:
          - "ffb_scalar"
          - "rpm"
          - "speed_ms"
          - "gear"
    telemetry:
      method: "shared_memory"
      update_rate_hz: 60
      fields:
        ffb_scalar: "mSteering"
        rpm: "mRpm"
        speed_ms: "mSpeed"
        gear: "mGear"
    config_writer: "ams2"
    auto_detect:
      process_names:
        - "AMS2AVX.exe"
      install_registry_keys:
        - "HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\Steam App 1066890"
      install_paths:
        - "Program Files (x86)/Steam/steamapps/common/Automobilista 2"

  rfactor2:
    name: "rFactor 2"
    versions:
      - version: "1.1.x"
        config_paths:
          - "UserData/player/OpenRacing.Telemetry.json"
        executable_patterns:
          - "rFactor2.exe"
          - "rFactor2 Dedicated.exe"
        telemetry_method: "shared_memory"
        supported_fields:
          - "ffb_scalar"
          - "rpm"
          - "speed_ms"
          - "slip_ratio"
          - "gear"
          - "flags"
          - "car_id"
          - "track_id"
    telemetry:
      method: "shared_memory"
      update_rate_hz: 60
      fields:
        ffb_scalar: "mForceFeedback"
        rpm: "mEngineRPM"
        speed_ms: "mLocalVel"
        slip_ratio: "mWheels[].mLateralPatchSlip"
        gear: "mGear"
        flags: "mGamePhase/mYellowFlagState/mInPits"
        car_id: "mVehicleName"
        track_id: "mTrackName"
    config_writer: "rfactor2"
    auto_detect:
      process_names:
        - "rFactor2.exe"
        - "rFactor2 Dedicated.exe"
      install_registry_keys:
        - "HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\Steam App 365960"
      install_paths:
        - "Program Files (x86)/Steam/steamapps/common/rFactor 2"

  eawrc:
    name: "EA SPORTS WRC"
    versions:
      - version: "1.x"
        config_paths:
          - "Documents/My Games/WRC/telemetry/config.json"
        executable_patterns:
          - "WRC.exe"
          - "EASPORTSWRC.exe"
        telemetry_method: "udp_schema"
        supported_fields:
          - "ffb_scalar"
          - "rpm"
          - "speed_ms"
          - "slip_ratio"
          - "gear"
          - "car_id"
          - "track_id"
    telemetry:
      method: "udp_schema"
      update_rate_hz: 120
      fields:
        ffb_scalar: "ffb_scalar"
        rpm: "engine_rpm"
        speed_ms: "vehicle_speed"
        slip_ratio: "slip_ratio"
        gear: "gear"
        car_id: "vehicle_id"
        track_id: "track_name"
    config_writer: "eawrc"
    auto_detect:
      process_names:
        - "WRC.exe"
        - "EASPORTSWRC.exe"
      install_registry_keys:
        - "HKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\Steam App 1849250"
      install_paths:
        - "Program Files (x86)/Steam/steamapps/common/WRC"
